@page "/"
@using CarRental.Common.Classes;
@using CarRental.Data.Interfaces
@using CarRental.Data.Classes
@using CarRental.Business.Classes
@using CarRental.Common.Enums
@using CarRental.Common.Interfaces
@inject BookingProcessor Bp
@inject HttpClient Http

<PageTitle>Car Rental</PageTitle>

<h1>Car Rental Assignment G</h1>

<h3>Vehicles</h3>
<div class="d-flex">
    <div class="form-check-inline">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked @onclick="() => _visibleVehicle = default">
        <label class="form-check-label" for="flexRadioDefault2">
            Show All
        </label>
    </div>
    <div class="form-check-inline">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" @onclick="() => _visibleVehicle = VehicleStatus.Booked">
        <label class="form-check-label" for="flexRadioDefault1">
            Only Booked
        </label>
    </div>   <div class="form-check-inline">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" @onclick="() => _visibleVehicle = VehicleStatus.Available">
        <label class="form-check-label" for="flexRadioDefault1">
            Only Available
        </label>
    </div>
</div>

@if (Bp == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped table-hover w-80">
        <thead>
            <tr class="align-items-baseline">
                <th>RegNo.</th>
                <th>Make</th>
                <th>Odometer</th>
                <th>Cost Km</th>
                <th>Vehicle Type</th>
                <th>$ Day</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vehicleInfo in Bp.GetVehicles(_visibleVehicle))
            {
                <tr>
                    <td><strong>@vehicleInfo.GetLicencePlate()</strong></td>
                    <td>@vehicleInfo.GetManufacturer()</td>
                    <td>@vehicleInfo.GetOdometer()</td>
                    <td>@vehicleInfo.GetKmCost() $/km</td>
                    <td>@vehicleInfo.GetVehicleType().ToString()</td>
                    <td>@vehicleInfo.GetDayCost() $/d</td>
                    <td class="align-items-center">
                        <span class="badge rounded-pill @(vehicleInfo.GetVehicleStatus() == VehicleStatus.Available ? "text-bg-success": vehicleInfo.GetVehicleStatus() == VehicleStatus.Booked ? "text-bg-danger" : "text-bg-dark")">
                            @vehicleInfo.GetVehicleStatus().ToString()
                        </span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
}


<h3>Bookings</h3>
@if (Bp == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped table-hover w-80">
        <thead>
            <tr class="align-items-baseline">
                <th>RegNo.</th>
                <th>Customer</th>
                <th>Start Km</th>
                <th>Return Km</th>
                <th>Rent Date</th>
                <th>Return Date</th>
                <th>Total Cost $</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bookingInfo in Bp.GetBookings())
            {
                <tr>
                    <td><strong>@bookingInfo.LicensePlate()</strong></td>
                    <td>@bookingInfo.CustomerName()</td>
                    <td>@bookingInfo.GetOdometerStart()</td>
                    <td>@(bookingInfo.IsBookingActive() ? "" : @bookingInfo.GetOdometerReturn()) </td>
                    <td>@bookingInfo.GetStartDate().ToShortDateString()</td>
                    <td>@(bookingInfo.IsBookingActive() ? "" : @bookingInfo.GetReturnDate()?.ToShortDateString())</td>
                    <td>@(bookingInfo.IsBookingActive() ? "" : @bookingInfo.GetTotalCost() + " $")</td>
                    <td class="align-items-center">
                        <span class="badge @(bookingInfo.GetBookingStatus() == VehicleStatus.Available ? "text-bg-success" :  bookingInfo.GetBookingStatus() == VehicleStatus.Booked ? "text-bg-danger":"text-bg-dark") ">
                            @(bookingInfo.GetBookingStatus() == VehicleStatus.Available ? "Closed" : bookingInfo.GetBookingStatus() == VehicleStatus.Booked ? "Open" : "Unavailable")
                        </span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
}
<h3>Customers</h3>
@if (Bp == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped table-hover w-50">
        <thead>
            <tr class="align-items-baseline">
                <th>SSN</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Registry Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customerInfo in Bp.GetCustomers())
            {
                <tr>
                    <td><strong>@customerInfo.GetSecurityNumber()</strong></td>
                    <td>@customerInfo.GetLastname()</td>
                    <td>@customerInfo.GetFirstname()</td>
                    <td>@customerInfo.RegistryDate.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
}



@code {
    private VehicleStatus _visibleVehicle = default;
}
