@page "/"
@using CarRental.Business.Classes
@using CarRental.Common.Enums
@inject BookingProcessor Bp

<PageTitle>Car Rental</PageTitle>

<h1>Car Rental Assignment G</h1>

<h3>Vehicles</h3>
<div class="d-flex">
    <div class="form-check-inline">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked @onclick="() => _visibleVehicle = default">
        <label class="form-check-label" for="flexRadioDefault1">
            Show All
        </label>
    </div>
    <div class="form-check-inline">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" @onclick="() => _visibleVehicle = VehicleStatus.Booked">
        <label class="form-check-label" for="flexRadioDefault2">
            Only Booked
        </label>
    </div>   <div class="form-check-inline">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" @onclick="() => _visibleVehicle = VehicleStatus.Available">
        <label class="form-check-label" for="flexRadioDefault3">
            Only Available
        </label>
    </div>
</div>

@if (Bp == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped table-hover w-80">
        <thead>
            <tr class="align-items-baseline">
                <th>RegNo.</th>
                <th>Make</th>
                <th>Odometer</th>
                <th>Cost Km</th>
                <th>Vehicle Type</th>
                <th>$ Day</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vehicleInfo in Bp.GetVehicles(_visibleVehicle))
            {
                <tr>
                    <td><strong>@vehicleInfo.LicencePlate</strong></td>
                    <td>@vehicleInfo.Manufacturer</td>
                    <td>@vehicleInfo.Odometer</td>
                    <td>@vehicleInfo.KmCost $/km</td>
                    <td>@vehicleInfo.VehicleType.ToString()</td>
                    <td>@vehicleInfo.DayCost $/d</td>
                    <td class="align-items-center">
                        <span class="badge rounded-pill @(vehicleInfo.VehicleStatus == VehicleStatus.Available ? "text-bg-success": vehicleInfo.VehicleStatus == VehicleStatus.Booked ? "text-bg-danger" : "text-bg-dark")">
                            @vehicleInfo.VehicleStatus.ToString()
                        </span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
}


<h3>Bookings</h3>
@if (Bp == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped table-hover w-80">
        <thead>
            <tr class="align-items-baseline">
                <th>RegNo.</th>
                <th>Customer</th>
                <th>Start Km</th>
                <th>Return Km</th>
                <th>Rent Date</th>
                <th>Return Date</th>
                <th>Total Cost $</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bookingInfo in Bp.GetBookings())
            {
                <tr>
                    <td><strong>@bookingInfo.Vehicle.LicencePlate</strong></td>
                    <td>@bookingInfo.Customer.GetFullInfo()</td>
                    <td>@bookingInfo.OdometerStart</td>
                    <td>@(bookingInfo.IsActive ? "" : @bookingInfo.OdometerReturn) </td>
                    <td>@bookingInfo.StartDate.ToShortDateString()</td>
                    <td>@(bookingInfo.IsActive ? "" : @bookingInfo.ReturnDate.ToShortDateString())</td>
                    <td>@(bookingInfo.IsActive ? "" : @bookingInfo.TotalCost + " $")</td>
                    <td class="align-items-center">
                        <span class="badge @(bookingInfo.BookingStatus switch
                                           {
                                               VehicleStatus.Available => "text-bg-success",
                                               VehicleStatus.Booked => "text-bg-danger",
                                               _ => "text-bg-dark"
                                               }) ">
                            @(bookingInfo.BookingStatus switch
                            {
                                VehicleStatus.Available => "Closed",
                                VehicleStatus.Booked => "Open",
                                _ => "Unavailable"
                                })
                        </span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
}
<h3>Customers</h3>
@if (Bp == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped table-hover w-50">
        <thead>
            <tr class="align-items-baseline">
                <th>SSN</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Registry Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customerInfo in Bp.GetCustomers())
            {
                <tr>
                    <td><strong>@customerInfo.GetSecurityNumber()</strong></td>
                    <td>@customerInfo.GetLastname()</td>
                    <td>@customerInfo.GetFirstname()</td>
                    <td>@customerInfo.RegistryDate.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
}



@code {
    private VehicleStatus _visibleVehicle;
}
